$gray: #e5e5e5;
$color: #000000;
$primary: #6457a6;
$secondary: #6a687a;
$white: #ffffff;
$red: #e63946;

$primary-hover: #5e5e92;

$red-background-hover: rgba(250, 204, 208, 0.5);
$primary-background-hover: rgba(94, 94, 146, 0.25);
