@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $gray;
}

body,
input,
button,
textarea {
  color: $color;
  font: 400 1.4rem/1.5 Poppins, sans-serif;
}
