@import '../../styles/colors.scss';

.container {
  width: 100%;
  padding: 10px 14px;

  display: grid;
  grid-template-columns: 32px 1fr 32px;

  column-gap: 14px;

  border-radius: 0.25rem;
  background-color: $white;
}

.checkBox {
  display: flex;
  align-items: center;
  justify-content: center;

  & > button {
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.25rem solid $secondary;
    border-radius: 0.4rem;

    transition: border-color 0.15s ease-in-out,
      background-color 0.15s ease-in-out;

    cursor: pointer;
    outline: none;
    background-color: transparent;

    & > svg {
      width: 1.2rem;
      height: 1.2rem;

      fill: $gray;
      transition: fill 0.15s ease-in-out;
    }

    &:hover,
    &:focus {
      border-color: $primary;
      background-color: $primary-background-hover;
    }

    &.check {
      border-color: $primary;
      background-color: $primary;

      &:hover,
      &:focus {
        background-color: $primary-background-hover;
      }

      & > svg:hover,
      & > svg:focus {
        fill: $primary;
      }
    }
  }
}

.content {
  display: inline-flex;
  align-items: center;

  font: 400 1.4rem/1.5 Poppins, sans-serif;
}

.trash {
  display: flex;
  align-items: center;
  justify-content: center;

  & > button {
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    outline: none;

    transition: background-color 0.15s ease-in-out;

    border: 0;
    border-radius: 50%;
    background-color: transparent;

    & > svg {
      fill: $red;

      width: 1.6rem;
      height: 1.6rem;
    }

    &:hover,
    &:focus {
      background-color: $red-background-hover;
    }
  }
}
