@import '../../styles/colors.scss';

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $color;
  font: 700 3.2rem/1.5 Poppins, sans-serif;

  & > svg {
    width: 4rem;
    height: 4rem;

    margin-right: 8px;

    fill: $primary;
  }
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 0 8px;

  display: flex;
  flex-direction: column;
}

.input {
  & + div {
    margin-top: 18px;
  }
}

.or {
  margin: 16px 0;

  color: $secondary;
  font: 600 1.4rem/1.5 Poppins, sans-serif;

  display: flex;
  flex-direction: row;

  align-items: center;

  &::before,
  &::after {
    content: '';

    flex: 1;
    height: 0.2rem;

    border-radius: 0.2rem;
    background-color: $secondary;
  }

  &::before {
    margin-right: 8px;
  }

  &::after {
    margin-left: 8px;
  }
}

.registerButton {
  align-self: center;

  color: $secondary;
  font: 600 1.5rem/1.5 Poppins, sans-serif;

  outline: none;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: $primary;
  }
}
